[submodule "modules/Build_USA_BEC"]
	path = modules/Build_USA_BEC
	url = git@github.com:whmacken/Build_USA_BEC.git
[submodule "modules/Build_WNA_BGC_model"]
	path = modules/Build_WNA_BGC_model
	url = git@github.com:FLNRO-Smithers-Research/Build_WNA_BGC_model.git
